* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 20px;
}

/* Preloader Start */
#preloader {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 9999;
	background: linear-gradient(0deg, #2c8dda, #009688);

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 200%;
}
/* Preloader End */



.container {
	width: 1140px;
	margin: 30px auto;
}

.row:before, .row:after {
	content: '';
	clear: both;
	display: table;
}

.row {
	margin: 40px auto;
}




/* Copy CSS Staer */
ul.cp-filter {
	list-style: none;
	display: flex;
	flex: 1;
	gap: 20px;
	justify-content: center;
	margin-bottom: 50px;
}

ul.cp-filter li {
	color: #fff;
	padding: 10px 25px;
	background: #2196f3;
}

ul.cp-filter li.active,
ul.cp-filter li:hover {
	cursor: pointer;
	background-color: #0b61a6;
}
.cp-grid {}
.cp-grid-item {
	width: calc(25% - 30px);
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;
}
/* masonry not working when first item is hide so make the first item always visible */
.cp-grid-item.first-item {
	width: 1px !important;
	height: 0 !important;
	opacity: 0 !important;
	visibility: hidden !important;
	margin: 0 !important;
	position: absolute;
	z-index: -1;
}
.cp-grid-item img {
	width: 100%;
}
/* Copy CSS End*/